<?js
var data = obj;
var self = this;
?>

<?js if (data.kind === 'package' && data.name) { ?>
    <h3 style="float:right;margin:10px">v<?js= data.version ?></h3>
<?js } ?>

<?js if (data.readme) { ?>
    <article id='readme'><?js= data.readme ?></article>
<?js } ?>
